html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    gap: 10px;               
}
.scissors{
    margin: auto;
}

button {
    padding: 70px 150px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    
}



button:hover{
    background-color: aqua;
}